<h2>Crear nuevo Item</h2>
<form [formGroup]="addItemForm" (ngSubmit)="createItem()">
  <input type="text" placeholder="Título" formControlName="title" required />
  <input type="text" placeholder="Descripción" formControlName="description" />
  <input type="text" placeholder="Categoría" formControlName="category" placeholder="Work" />
  <button type="submit" [disabled]="addItemForm.invalid">Crear Item</button>
</form>

<hr />

<div *ngFor="let item of items" class="todo-item">
  <h3>{{ item.id }}) {{ item.title }} - {{ item.description }} ({{ item.category }}) Completed: {{item.isCompleted}}.</h3>

  <h4>Añadir Progression</h4>
  <form [formGroup]="progressionForms[item.id]" (ngSubmit)="addProgression(item.id)">
    <input type="datetime-local" formControlName="date" />
    <input type="number" formControlName="percent" placeholder="%" min="1" max="100" />
    <button type="submit" [disabled]="progressionForms[item.id].invalid">Añadir</button>
  </form>

  <h4>Progresiones:</h4>
  <ng-container *ngIf="item.progressions?.length">
    <div *ngFor="let prog of item.progressions; let i = index" class="progress-line">
      <span class="progress-text">
        {{ prog.dateTime | date:'shortDate' }} - {{ getAccumulatedPercent(item.progressions ?? [], i) }}%
      </span>
      <div class="bar-wrapper inline">
        <div class="bar-fill" [style.width.%]="getAccumulatedPercent(item.progressions ?? [], i)"
          [ngStyle]="{ 'background-color': '#4caf50' }">
        </div>
      </div>
    </div>
  </ng-container>
</div>